body {
    overflow: auto;
    height: 100%;
    font-family: "Open Sans", "PT Sans";
    background: linear-gradient(135.9deg, rgb(54, 46, 119) 16.4%, rgb(12, 6, 51) 56.1%);
}

html {
    overflow: hidden;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.kdt-header{
    font-weight: 300;
    margin: 15px 15px 15px 15px;
}

.mainPageContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 49, 49);
    border-radius: 20px;
    border: 5px solid rgb(82, 83, 97);
    align-items: left;
    overflow: hidden;
    width: 85vw;
}

.row {
    display: flex;
    flex-direction: row;
    color: rgb(240, 240, 240);
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.rowHeader {
    margin: 1em 1.5em 0.5em 1.5em;
    display: flex;
    flex-direction: row;
    color: rgb(220, 220, 220);
    background-color: rgb(82, 83, 97);
    border-radius: 10px;
}

.api-info-api {
    display: flex;
	align-items: center;
    font-size: small;
    flex-wrap: wrap;
    width: 17%;
    margin: 10px;
    padding: 3px;    
    border-radius: 5px;
    word-wrap: break-word;
}

.api-info-status-wrapper {
    display: flex;
    align-items: center;
    width: 15%;
    margin: 10px;
    padding: 3px;    
}

.api-info-status-stable {
    display: flex;
	align-items: center;
    font-size: small;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 6px;    
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgba(74, 255, 149, 0.122);
}

.api-info-status-updateAvailable {
    display: flex;
	align-items: center;
    font-size: small;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 6px;    
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgba(255, 204, 0, 0.195);
}

.api-info-status-removed {
    display: flex;
	align-items: center;
    font-size: small;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 6px;    
    border-radius: 10px;
    word-wrap: break-word;
    background-color: rgba(255, 4, 0, 0.213);
}

.api-info-location {
    display: flex;
	align-items: center;
    font-size: small;
    flex-wrap: wrap;
    width: 20%;
    margin: 10px;
    padding: 3px;    
    border-radius: 5px;
    word-wrap: break-word;
}

.api-info-stable-version{
    display: flex;
	align-items: center;
    width: 15%;
    margin: 10px;
    padding: 3px; 
    font-size: small;
}

.api-info-notes {
    display: flex;
    width: 35%;
    margin: 10px;
    padding: 3px; 
    font-size: small;
    max-height: 100px; 
    overflow-y: scroll;
}


.api-info-notes-has-notes{
    display: flex;
	align-items: center;
    width: 35%;
    margin: 10px;
    padding: 3px; 
    font-size: small;
    overflow-y: scroll;
}

.headerName {
    font-size: small;
    margin: 10px;
    padding: 3px; 
    width: 20%;
}

.headerName-api {
    font-size: small;
    margin: 10px;
    padding: 3px; 
    width: 17%;
}

.headerName-stable {
    font-size: small;
    margin: 10px;
    padding: 3px; 
    width: 15%;
}

.headerName-status {
    display: flex;
    font-size: small;
    margin: 10px;
    padding: 3px; 
    width: 15%;
}

.headerName-notes {
    font-size: small;
    margin: 10px;
    padding: 3px; 
    width: 35%;
}

.icon-stable {
    padding: 5px 8px 5px 5px;
    color: rgb(74, 255, 149);
    font-size: 16px;
}

.icon-removed {
    padding: 5px 8px 5px 5px;
    color: rgb(255, 4, 0);
    font-size: 16px;
}

.icon-deprecated {
    padding: 5px 8px 5px 5px;
    color: rgb(255, 204, 0);
    font-size: 18px;
}

.row-content-container{
    max-height: 78vh;
    overflow-y: scroll;
}

.content-loading{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px;
}

.filter-button{
    margin-left: 5px;
}